{% load static %}
<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  
  <link href="css/templatemo-xtra-blog.css" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

    <div class="tm-header-wrapper">
      <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
      </button>
      <div class="tm-site-header">
          <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
          <h1 class="text-center">LinkUs</h1>
      </div>
      <nav class="tm-nav" id="tm-nav">            
          <ul><!--
              <li class="tm-nav-item active"><a href="index.html" class="tm-nav-link">
                <i class="fas fa-home"></i>
                <a href="{% url "blog" %}">Blogg</a>
              </a></li>-->
              <li class="tm-nav-item active"><a href="index.html" class="tm-nav-link">
                  <i class="fas fa-home"></i>
                  <a href="{% url "dashboard" %}">My Dashboard</a>
              </a></li>
              <li class="tm-nav-item"><a href="post.html" class="tm-nav-link">
                  <i class="fas fa-pen"></i>
 
                    <a href="#">Images</a>
                  
              </a></li>
              <li class="tm-nav-item"><a href="about.html" class="tm-nav-link">
                  <i class="fas fa-users"></i>
                  <a href="#">People:</a>
              </a></li>
              
          </ul>
      </nav>

    {% for post in posts %}    
      {% if post.author.id == userid %}
        
          <!-- <p>test post.get_absolute_url: {{post.get_absolute_url}} </p> -->
          <a href="{{ post.get_absolute_url }}">{{ post.title}}</a>
        </div>
      {% endif %}
    {% endfor %}
    

  </div>
  <div id="header">
    <span class="logo">Blog:(</span>
    {% if request.user.is_authenticated %}
      <ul class="menu">

        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url "dashboard" %}">Blog</a>
        </li>
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url "dashboard" %}">My Dashboard</a>
        </li>
        <li {% if section == "images" %}class="selected"{% endif %}>
          <a href="#">Images</a>
        </li>
        <li {% if section == "people" %}class="selected"{% endif %}>
          <a href="#">People:</a>
        </li>
      </ul>
    {% endif %}
    <span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name|default:request.user.username }},
        <a href="{% url "logout" %}">Logout:))</a>
      {% else %}
        <a href="{% url "login" %}">Log-in:((</a>
      {% endif %}
    </span>
  </div>
</body>
</html>
