{% extends "blog/base.html" %}

{% block title %}LinkUs{% endblock %}

{% block content %}
  <h1>Blog list</h1>
  {% for post in posts %}
    <!--
    <p>post.pay_to_read: {{post.pay_to_read}}</p>
    <p>post.author.id: {{post.author.id}}</p>
    <p>request.user.id: {{request.user.id}}</p>
    -->
    {% if post.pay_to_read <= 0 or post.author.id == request.user.id %}
    <div class="row tm-row">
      <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        
        <a href="{{ post.get_absolute_url }}" class="effect-lily tm-post-link tm-pt-20">
                                                    
          
            
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ post.title }} </h2>
        </a>
        <p class="date">
          Published {{ post.publish }} by {{ post.author }}
        </p>                    
        <p class="tm-pt-30">
          {{ post.body|truncatewords:30|linebreaks }}
        </p>
        

    </article>
      
      
      
    <!--這段待改-->
    {% else %}
      <h2>{{ post.title }}</h2>
      <p>(pay to unlock)</p>
      <p class="date">
        Published {{ post.publish }} by {{ post.author }}
      </p>
    
    {% endif %}
  {% endfor %}
  
{% endblock %}
